{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
{% load static %}
<div class="container mt-3">

<div class="row">

<div class="col-md-6">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'images/brandImg.jpg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-left"><b>What makes us who we are today…</b></h5>
          <hr>
          <h7 class="card-text">	
            
            At Weber Technology, we develop innovative and creative products and services that provide total communication and information solutions. Among a plethora of services, web design and development, tailor made applications, ERPs, CRMs, e-commerce solutions, business-to-business applications, business-to-client applications, managed hosting and internet portal management are few that we offer. Satisfied clients around the globe bear testimony to the quality of our work.
            
            As a leader in technology exploring, Weber Technology is committed to exporting quality software worldwide.
            
          </h7>
          <hr>
          <p class="card-text"><small class="text-muted"><b>Website : https://webertechnology.in</b></small></small></p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-md-6">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <b>Contact Info</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Email</b> : contact.webertech@gmail.com</li>
      <li class="list-group-item"><b>Phone Number</b> : 9986786453</li>
      <li class="list-group-item"><b>Designation </b>: An IT company</li>
      <li class="list-group-item"><b>Place </b>: Bangalore</li>
    </ul>
  </div>


</div>


</div>


</div>
</div>
{% endblock body %}























