{% extends 'base.html' %}
{% block title %} Blog {% endblock title %}
{% block body %} 

<div class="container mt-3">
<h3 class="text-center text-white">Latest Blogs</h3>
<br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in allPosts reversed %}
        <div class="col">
          <div class="card">
           <a href="{{post.img.url}}">  <img src="{{post.img.url}}" class="card-img-top" alt="..." /> </a>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-text">
                {{post.description}}
              </h6>
               <hr>
               <h6>Posted By : <b>{{post.authname}}</b></h6>
               <h6>TimeStamp : <b>{{post.timeStamp}}</b></h6>
              
            </div>
          </div>
        </div>
    {% endfor %}    
      </div>
</div>

{% endblock body %}