body{
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-thumbnail{
	/* max-height: 100%;
	max-width: 100%; */
    /* background-color: black; */
	width:200px;
	height: 100px;
	/* background-size: cover; */
	float: left;
}

p{
    color: white;
    font-size: large;
}

#gp{
    width: 100%;
}